* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(118,117,128,0.05);
    padding: 2% 10%;
    font: Arial, sans-serif;
}

#holder {
    min-height: 80vh;
    position: relative;
    display: flex;
    flex-flow: column;
}

.searchHold {
    display: flex;
}

.searchHold input {
    height: 150px;
    width: 100px;
    flex-grow: 1;
    border: none;
    padding-left: 10px;
    color: #c2c2c2;
    background-color: #f8f7f8;
    line-height: 150px;
    font-size: 70pt;
}

.searchHold input::placeholder {
    color: #c2c2c2;
    font-size: 70pt;
    font-weight: bold;
    text-align: left;
}

.searchHold input:focus {
    outline: none;
}

.searchHold button {
    width: 130px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    background-image: url(img/favicon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.searchHold button:focus {
    outline: none;
}

.searchHold button:hover {
    cursor: pointer;
}

.blocksHold {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}

.people > div,
.popular > div,
.recent > div {
    height: 70px;
    margin-bottom: 5px;
    background-color: #e9e9e9;
    color: #7a7a7a;
    display: grid;
    grid-template-columns: 80px 3fr;
}

.people div:hover,
.popular div:hover,
.recent div:hover {
    background-color: #cccccc;
    color: #ec5a62;
    cursor: pointer;
}

.block-title {
    font-size: 15pt;
    text-transform: uppercase;
    font-weight: bold;
    color: #c2c2c2;
    margin-top: 20px;
}

.people > div .pic-holder,
.popular > div .pic-holder,
.recent > div .pic-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.people > div .text-holder,
.popular > div .text-holder,
.recent > div .text-holder {
    line-height: 70px;
    text-align: left;
}

.pic-people {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.saraSoueidan {
    background-image: url(img/people/SaraSoueidan.jpeg);
}
.rachelSmith {
    background-image: url(img/people/RachelSmith.png);
}
.peterFinian {
    background-image: url(img/people/PeterFinlan.jpeg);
}
.patrickCox {
    background-image: url(img/people/PatrickCox.png);
}
.timHolman {
    background-image: url(img/people/TimHolman.jpeg);
}
.shaunDona {
    background-image: url(img/people/ShaunDona.jpeg);
}

.preloading {
    background-image: url(img/thumbs/PagePreloadingEffect.png);
}
.arrow {
    background-image: url(img/thumbs/ArrowNavigationStyles.png);
}
.ideas {
    background-image: url(img/thumbs/HoverEffectsIdeasNew.png);
}
.halcyon {
    background-image: url(img/thumbs/FreebieHalcyonDays.png);
}
.intro {
    background-image: url(img/thumbs/ArticleIntroEffects.png);
}
.draggable {
    background-image: url(img/thumbs/DraggableDualViewSlideshow.png);
}

.tooltip {
    background-image: url(img/thumbs/TooltipStylesInspiration.png);
}
.animated {
    background-image: url(img/thumbs/AnimatedHeaderBackgrounds.png);
}
.off {
    background-image: url(img/thumbs/OffCanvas.png);
}
.tab {
    background-image: url(img/thumbs/TabStyles.png);
}
.responsive {
    background-image: url(img/thumbs/ResponsiveSVGs.png);
}
.notification {
    background-image: url(img/thumbs/NotificationStyles.png);
}

.alertBox {
    position: fixed;
    height: 50%;
    width: 50%;
    border-radius: 20px;
    background-color:red;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -70%);
    z-index: 1;
    box-shadow: 0 0 10px -1px #000;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    animation: showAlert 400ms forwards;

}

.alertBox.active {
    display: flex;
}

@keyframes showAlert {
    from {
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.closeBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-45px);
}

.closeBtn:hover {
    cursor: pointer;
}

.closeBtn div {
    width: 35px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 400ms;
}

.closeBtn:hover > div:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: 
        translate(-50%, -50%)
        rotate(45deg);
}
.closeBtn:hover > div:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: 
        translate(-50%, -50%)
        rotate(-45deg);
}

.alertBox h1 {
    color: #fff;
    text-align: center;
}

